<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projekt.woda">

    <application
        android:allowBackup="true"
        android:icon="@drawable/main_icon_24dp"
        android:label="Woda"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".GetUserData"></activity>
        <activity android:name=".Statistics" />
        <activity
            android:name=".MainPage"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".History"></activity>
        <receiver android:name=".AlarmReceivier"
            android:enabled="true"
            android:exported="true"/>
    </application>

</manifest>